* {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

#search {
    border: 5px solid greenyellow;
}
#searchHistory {
    border: 5px solid rgb(255, 0, 0);
}


#currentWeather {
    border: 5px solid rgb(251, 255, 0);
}

#futureWeather {
    border: 5px solid blue;
}